/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00ff08;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#book-now-section {
    text-align: center;
    padding: 50px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 16px;
    margin: 10px 0 5px;
}

input, select {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #00ff08;
    color: white;
    padding: 15px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #00ff0d;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #01ff2f;
    color: white;
}

footer p {
    margin: 0;
}

